* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 70vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: relative;
}
.product-container {
  position: relative;
  margin-top: 100px;
  width: 350px;
  transition: all 0.75s ease-out;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  top: 200px;
}
.product-card {
  transition: all 0.75s;
  max-width: 450px;
  border-radius: 30px;
  padding: 1vh 5%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 400px;
}

.bike {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.bike img {
  width: 90%;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 150px;
  width: clamp(100px, 10vw, 150px);
  height: 150px;
  height: clamp(100px, 10vw, 150px);
  background: linear-gradient(to right, #E71173, #F76404);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info {
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.info h1 {
  font-family: 'Aboreto', cursive;
  color: #443763;
  /* font-size: 45px; */
  font-size: clamp(20px, 8vw, 30px);
  transition: all 0.75s ease-out;
  /* margin-bottom: 5vh; */
  transform-style: preserve-3d;
}
.info h3 {
  /* font-size: 24px; */
  font-size: clamp(15px, 2vw, 18px);
  /* margin-bottom: 7vh; */
  color: #585858;
  /* font-weight: lighter; */
  transition: all 0.75s ease-out;
  font-family: 'Aboreto', cursive;
}
.purchase {
  transition: all 0.75s ease-out;
  position: absolute;
  top: 120px;
  width: 100%;
}
.purchase button {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1em;
  width: 100%;
  max-width: 400px;
  font-size: clamp(18px, 3vw, 25px);
  padding: 0.7em 3em;
  background: linear-gradient(to right, #E71173, #F76404);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bolder;
}



#duck:hover {
  transform: translateZ(150px) rotateZ(7deg) !important;
}
#ring:hover {
  transform: translateZ(150px) rotateZ(7deg) !important;
}
#telephone:hover {
  transform: translateZ(150px) rotateZ(7deg) !important;
}
#potery:hover {
  transform: translateZ(150px) rotateZ(7deg) !important;
}
#typewriter:hover {
  transform: translateZ(150px) rotateZ(7deg) !important;
}
#pot:hover {
  transform: translateZ(150px) rotateZ(7deg) !important;
}
#mug:hover {
  transform: translateZ(150px) rotateZ(7deg) !important;
}
#box:hover {
  transform: translateZ(150px) rotateZ(7deg) !important;
}
#natraj:hover {
  transform: translateZ(150px) rotateZ(7deg) !important;
}
.purchase:hover {
  transform: translateZ(50px) !important;
}

.img-fix {
  height: 160px;
  width: 160px !important;
}
