html {
  scroll-behavior: smooth;
}

/* this is the styling for my whole body */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primaryheading: 3rem;
  --secondaryheading: 1.3rem;
  --paragraghinfo: 1.1rem;
}

/* this is the styling for my topnav as a whole */
.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0px;
  z-index: 99;
}

/* this is the styling for my a tag for topnav class */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 90px;
  text-decoration: none;
  font-size: 17px;
  transition: all .3s;
}

/* this is the styling when anyone hovers on these a tags what happens */
.topnav a:hover {
  /* border-bottom: 5px solid #04AA6D; */
  color: black;
  font-size: 1.3rem;
}

/* this is the styling for a tags who's class is active */
.topnav a.active {
  /* border-bottom: 5px solid #04AA6D; */
  color: rgb(0, 0, 0);
  background-color: white;
}

/* this is the styling for my topnav as well as for icons */
.topnav .icon {
  display: none;
}



@media screen and (max-width: 600px) {
  .top-nav span {
    background-color: #04AA6D;
  }

  .topnav a:hover {
    transition: none;
  }
}

@media screen and (max-width: 1210px) {
  .topnav a {
    padding: 14px 10px;
  }
}

/* this is the styling for responsive topnav */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* this is the styling for my sidenav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* this is the styling for my a tag for sidenav class */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* this is the styling when anyone hovers on these a tags what happens */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* this is the styling for responsive sidenav */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* bottom to top button */
.bottom-to-top img {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 99;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
}


/* Home Section */

.home-parallax {
  /* The image used */
  background-image: url('img/bg.jpeg');

  /* Full height */
  height: 100%;

  /* opacity */
  opacity: 0.55;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-section {
  position: relative;
}

/* .home-section img {
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  height: 700px;
  opacity: 0.65;
} */

.home-section p {
  position: absolute;
  top: 190px;
  left: 200px;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  letter-spacing: 5px;
  z-index: 9;
}

.main-heading {
  position: absolute;
  top: 210px;
  left: 200px;
  font-size: 6rem;
  color: rgb(0, 0, 0);
  z-index: 9;
}

#sub-heading {
  position: absolute;
  top: 290px;
  left: 200px;
  font-size: 6rem;
  z-index: 9;
}


/* responsive design for heading and paragragh of main cont */

@media screen and (max-width: 760px) {
  .home-section p {
    top: 100px !important;
    left: 80px !important;
    font-size: 2.5rem;
  }

  .main-heading {
    top: 150px !important;
    left: 80px !important;
    font-size: 3.5rem;
  }

  #sub-heading {
    top: 210px;
    left: 80px;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 480px) {
  .home-section p {
    left: 20px !important;
    font-size: 2rem;
  }

  .main-heading {
    top: 132px !important;
    left: 20px !important;
    font-size: 3.1rem;
  }

  #sub-heading {
    top: 225px;
    left: 20px;
    font-size: 3.5rem;
  }
}


/* primary heading of the sections */
.primary-heading {
  font-size: var(--primaryheading);
  text-align: center;
  letter-spacing: 3px;
}


/* secondary heading of the sections */
.secondary-heading {
  font-size: var(--secondaryheading);
  text-align: center;
  letter-spacing: 1px;
}


/* 1st parallax - valuables container */
#valuables {
  height: 1000px;
  background-color: white;
  position: relative;
}

@media screen and (max-width: 760px) {
  #valuables {
    height: 720px;
  }
}

@media screen and (max-width: 480px) {
  #valuables {
    height: 640px;
  }
}


/* Slideshow components starts from here */

* {
  box-sizing: border-box
}

body {
  margin: 0
}


.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  top: 50px;
}

.slideshow-container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 1px solid rgb(130, 130, 130);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #555454;
}

@media screen and (max-width: 600px) {

  .prev,
  .next {
    font-size: 7px;
    padding: 10px;
    background-color: #555454;
  }
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #292929;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.2em;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #555454;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: .9em;
  }
}

/* slideshow-info paragragh */
.slideshow-info {
  text-align: center;
  padding: 10px 200px;
  position: absolute;
  bottom: 8px;
  font-size: clamp(20px, 2vw, 25px);
  font-family: 'EB Garamond', serif;
}

#duck {
  display: block;
}


#pottery {
  display: none;
}


#watch {
  display: none;
}

@media screen and (max-width: 760px) {
  .slideshow-info {
    padding: 10px 40px;
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  .slideshow-info {
    padding: 10px 60px;
    font-size: 16px;
  }

}



/* products parallax */


.product-parallax {
  /* The image used */
  background-image: url('img/bg1.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.65;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 8px;
}


@media screen and (max-width: 480px) {
  .border {
    font-size: 15px;
    letter-spacing: 4px;
  }
}

/* Products */

.project_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  flex-direction: horizontal;
  flex-wrap: wrap;
  gap: 25px;
  margin: 100px 20px;
}

/*product  cards */
.card1 {
  position: relative;
  width: 200px;
  height: 200px;
  color: #a18a96;
  background: url(img/item1.jpg)center no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(101, 123, 142, 0.48) 6px 2px 16px 0px, rgba(222, 222, 222, 0.8) -6px -2px 16px 0px;
}

.card2 {
  position: relative;
  width: 200px;
  height: 200px;
  color: #a18a96;
  background: url(img/item2.jpg)center no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(101, 123, 142, 0.48) 6px 2px 16px 0px, rgba(222, 222, 222, 0.8) -6px -2px 16px 0px;
}

.card3 {
  position: relative;
  width: 200px;
  height: 200px;
  color: #a18a96;
  background: url(img/item3.jpg)center no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(101, 123, 142, 0.48) 6px 2px 16px 0px, rgba(222, 222, 222, 0.8) -6px -2px 16px 0px;
}

.card4 {
  position: relative;
  width: 200px;
  height: 200px;
  color: #a18a96;
  background: url(img/item4.jpg)center no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(101, 123, 142, 0.48) 6px 2px 16px 0px, rgba(222, 222, 222, 0.8) -6px -2px 16px 0px;
}


.card5 {
  position: relative;
  width: 200px;
  height: 200px;
  color: #a18a96;
  background: url(img/item5.jpg)center no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(101, 123, 142, 0.48) 6px 2px 16px 0px, rgba(222, 222, 222, 0.8) -6px -2px 16px 0px;
}

.card6 {
  position: relative;
  width: 200px;
  height: 200px;
  color: #a18a96;
  background: url(img/item6.jpg)center no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(101, 123, 142, 0.48) 6px 2px 16px 0px, rgba(222, 222, 222, 0.8) -6px -2px 16px 0px;
}

.card7 {
  position: relative;
  width: 200px;
  height: 200px;
  color: #a18a96;
  background: url(img/item7.jpg)center no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(101, 123, 142, 0.48) 6px 2px 16px 0px, rgba(222, 222, 222, 0.8) -6px -2px 16px 0px;
}

.card8 {
  position: relative;
  width: 200px;
  height: 200px;
  color: #a18a96;
  background: url(img/item8.jpg)center no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(101, 123, 142, 0.48) 6px 2px 16px 0px, rgba(222, 222, 222, 0.8) -6px -2px 16px 0px;
}

@media screen and (max-width: 600px) {
  .card5 {
    display: none;
  }

  .card6 {
    display: none;
  }

  .card7 {
    display: none;
  }

  .card8 {
    display: none;
  }
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  border-top-left-radius: 20px;
  transform: translateY(70px);
  transition: transform .25s;
}

/* .card_content::before
{
 content: ""; 
 position: absolute;
 top: -47px;
 right: -45px;
 width: 100px;
 height: 100px;
 transform: rotate(-175deg);
 border-radius: 50%;
 box-shadow: inset 48px 48px #ffff;
} */
.card_title a {
  color: #6A515E;
  line-height: 15px;
}

.card_title {
  margin: 0;
}

/* .card_subtitle
{
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
} */
.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}


/* view more button css */
.view-more {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
}

.view-more button {
  height: 60px;
  width: 150px;
  color: rgb(0, 0, 0);
  font-size: large;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border: none;
}

.view-more button:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.404), 0 1px 5px rgba(0, 0, 0, 0.459);
  border: 1px solid rgb(105, 101, 101);
}


.view-more a {
  text-decoration: none;
  color: #000;
}

/* contact us parallax */
.contact-parallax {
  /* The image used */
  background-image: url('img/bg2.jpg');

  /* Full height */
  height: 1000px;

  /* opacity */
  /* opacity: 0.65; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.65;
}



/* contact us section styling */
input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none;
}

::-moz-placeholder {
  color: #666;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #666;
  font-weight: 300;
}


/* Contact Form Styling */

#secondary-heading {
  margin-top: 50px;
  font-size: 2rem;
}


.contact-container {
  padding: 0 50px 70px;
  height: 1000px;
  /* position: relative; */
}

.textcenter {
  text-align: center;
  margin-top: 30px;
}

.section1 {
  text-align: center;
  display: table;
  width: 100%;
}

.section1 .shtext {
  display: block;
  margin-top: 20px;
}

.section1 .seperator {
  border-bottom: 1px solid #a2a2a2;
  width: 35px;
  display: inline-block;
  margin: 20px;
}

.section1 h1 {
  font-size: 40px;
  color: #A44DD8;
  font-weight: normal;
}

.section2 {
  width: 1200px;
  margin: 25px auto;
}

.section2 .col2 {
  width: 48.71%;
}

.section2 .col2.first {
  float: left;
}

.section2 .col2.last {
  float: right;
}

.section2 .col2.column2 {
  padding: 0 30px;
}

.section2 span.collig {
  color: #a2a2a2;
  margin-right: 10px;
  display: inline-block;
}

.section2 .sec2addr {
  display: block;
  line-height: 26px;
}

.section2 .sec2addr p:first-child {
  margin-bottom: 10px;
}

.section2 .sec2contactform input[type="text"],
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
  padding: 18px;
  border: 0;
  background: #EDEDED;
  margin: 7px 0;
}

.section2 .sec2contactform textarea {
  width: 100%;
  display: block;
  color: #666;
  resize: none;
}

.section2 .sec2contactform input[type="submit"] {
  padding: 15px 40px;
  color: #000000;
  border: 0;
  background: rgb(233, 230, 230);
  font-size: 16px;
  text-transform: uppercase;
  margin: 7px 0;
  cursor: pointer;
  border: 1px solid gray;
}

.section2 .sec2contactform h3 {
  font-weight: normal;
  margin: 20px 0;
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 19px;
  color: #A44DD8;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
  .section2 {
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  .contact-container {
    padding: 0 30px 70px;
  }

  .section2 .col2 {
    width: 100%;
    display: block;
  }

  .section2 .col2.first {
    margin-bottom: 10px;
  }

  .section2 .col2.column2 {
    padding: 0;
  }

  body .sec2map {
    height: 250px !important;
  }
}

@media only screen and (max-width: 768px) {
  .section2 .sec2addr {
    font-size: 14px;
  }

  .section2 .sec2contactform h3 {
    font-size: 16px;
  }

  .section2 .sec2contactform input[type="text"],
  .section2 .sec2contactform input[type="email"],
  .section2 .sec2contactform textarea {
    padding: 10px;
    margin: 3px 0;
  }

  .section2 .sec2contactform input[type="submit"] {
    padding: 10px 30px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 420px) {
  .section1 h1 {
    font-size: 28px;
  }
}



.footer-parallax {
  /* The image used */
  background-image: url('image1.jpeg');

  /* Full height */
  height: 100%;

  /* opacity */
  /* opacity: 0.65; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* footer section starts here */

footer {
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  background: #111;
}

footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p,
a {
  color: #fff;
}

footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}

footer .content p {
  text-align: justify;
}

footer .content .lower .topic {
  margin: 24px 0 5px 0;
}

.middle p {
  color: white;

}

footer .content .lower i {
  padding-right: 16px;
}

footer .content .middle {
  padding-left: 80px;
}

footer .content .middle a {
  line-height: 32px;
}

footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #000000;
  background: #e6e6e6;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid gray;
  transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
  background: none;
  color: #ffffff;
}

footer .content .media-icons a {
  font-size: 16px;
  height: 25px;
  width: 35px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.content .media-icons a:hover {
  border-color: #eb2f06;
}

footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}

footer .bottom a {
  color: #eb2f06;
}

footer a {
  transition: all 0.3s ease;
}

footer a:hover {
  color: #eb2f06;
}

@media (max-width:1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}

@media (max-width:950px) {
  footer .content .box {
    width: 50%;
  }

  .content .right {
    margin-top: 40px;
  }
}

@media screen and (max-width: 800px) {
  footer {
    position: relative;
    top: 250px;
  }
}

@media (max-width:560px) {
  footer {
    position: relative;
    top: 100px;
  }

  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }

  footer .content .middle {
    padding-left: 0;
  }
}